{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/pure.2.0.5.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>

<div style="padding:1em">
	<h1>Ajax in Django</h1>

	<!-- content -->
	{% block content %}{% endblock %}
</div>

{% block pageData %}{% endblock %}
<script src="{% static 'js/jquery.3.5.1.js' %}"></script>
<script src="{% static 'js/vue.2.6.12.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
